.card{
    height: 7rem;
    color: white;
}

#card-client{
    background-color: #D74152;
    color: #FDFFF0;
}

#card-produits{
    background-color: #E8ECD6;
    color: #D74152;
}

#card-employees{
    background-color: #FDFFF0 ;
    color: #D74152;
} 

#card-fourni{
    background-color:  #D74152;
    color: #FDFFF0;
}

app-expense-sales-chart{
    width: 80vw;
    margin: 0 auto;

}
main{
    border: 1px solid red;
}