<h4>DASHBOARD</h4>
<h6>Dashboard</h6>
<div class="container-fluid main">

    <div class="row">
        <div class="col-sm ">
            <div class="card my-2 " id="card-client">
                <div class="card-body">
                     <h4 class="card-title"><i class="bi bi-person-circle m-2"></i>  Clients</h4>
                     <p class="card-text fs-3">783 <span class="fs-6">clients abonnés</span></p>
                </div>
                
            </div>
        </div>
        <div class="col-sm ">
            <div class="card my-2 " id="card-produits">
                <div class="card-body">
                    <h4 class="card-title"><i class="bi bi-capsule m-2"></i>Produits</h4>
                    <p class="card-text fs-3">632 <span class="fs-6">produits disponible</span></p>
               </div>
            </div>
            
        </div>
        <div class="col-sm ">
            <div class="card my-2" id="card-employees">
                <div class="card-body">
                    <h4 class="card-title"> <i class="bi bi-person-video3 m-2"></i>Employees</h4>
                    <p class="card-text fs-3">100 <span class="fs-6">équip de travail</span></p>
               </div>
            </div>
        </div>
        <div class="col-sm ">
            <div class="card my-2" id="card-fourni">
                <div class="card-body">
                    <h4 class="card-title"> <i class="bi bi-truck m-2"></i>Fournisseurs</h4>
                    <p class="card-text fs-3">130 <span class="fs-6">fournisseurs de produits</span></p>
               </div>
            </div>
        </div>
    </div>
    <div class="row">
        <app-expense-sales-chart></app-expense-sales-chart>        
    </div>
</div>