.card{
    height: 7rem;
    color: white;
}

#card-client{
    background-color: #310FD3;
}

#card-produits{
    background-color: #3B9BF8;
}

#card-employees{
    background-color: #F0B219;
} 

#card-fourni{
    background-color: #D74152;
}