.example-container {
    height: 270px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }

  .mat-column-typeOfPayment,
  .mat-column-amountPaid,
  .mat-column-date,
  .mat-column-time{
    text-align: center;
  }

  .title{
    text-align: center;
  }