

<div class=" footer">
    <div class="row"> 
      <div class="col">
        <p class="footer-head">INFORMATIONS</p>
        <P><a href="">Livraison de produits de parapharmacie</a></P>
        <P><a href="">Contactez-nous</a></P>
        <P><a href="">NotreParapharma.ma : Parapharmacie en ligne</a></P>
        <P></P>
      </div>
      <div class="col">
       <p class="footer-head">LIENS</p>
       <p><a href="">Mes commandes</a></p>
       <p><a href="">Mes informations personnelles</a></p>
       <p><a href="">Nos Marques</a></p>
       </div>
      <div class="col">
       <p class="footer-head">NOUS CONTACTER</p>
       <p>50, avenue 2 Mars - à coté du Lycée Med V Fes</p>
       <p><a href="">+212 660 259 831</a></p>
       <p><a href="">contact@votrepara.ma</a></p>
       </div>
      <div class="col">
       <p class="footer-head">ABONNEZ-VOUS</p>
       <p>Entrez votre adresse e-mail pour obtenir les nouveautés.</p>
       <input type="text" placeholder="Your E-mail" class="mail-subscribe" name="email" id="email"><span><button class="btn btn-primary btn-mail">S'ABONNER</button></span>
    </div>
    </div>
    
    </div>
    <div class=" p-4">
       <div class="col text-center"><p>COPYRIGHT &COPY; 2020 - NotreParapharma.ma - TOUS LES DROITS RESERVE</p></div>
    </div>