


.sidebar-header{
    color: #A23131;
    text-align: center;
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.left{
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #a8db7e;
    
   .sidebar-body{
   
    font-size: 12px;
    
    .sidebar-item{
        padding: 10px 0px 10px 0px;
        border-bottom: 1px solid #E8ECD6;

        
        a{
            text-decoration: none;
            color: #A23131;
            transition: 0.3s;
            &:hover{
                color: green;
            }
        }
        

        &:hover{
            background-color: rgba(63, 62, 62, 0.08);
        }
        
        i{
            margin-right: 10px;
            margin-left: 3px;
            color: #A23131;
            font-weight: bold;
        }

        
    }
   }
   
    
}

.right{
    // border: 1px solid green;
    .bar{
      color: #A23131;
      background-color: #a8db7e;
      font-size: 17px;
      font-family:  Verdana, Geneva, Tahoma, sans-serif;
      i{
        color: #A23131;
      }
    }
  
}




