


.sidebar-header{
    color: white;
    text-align: center;
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.left{
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #181d2e;
    
   .sidebar-body{
   
    font-size: 12px;
    
    .sidebar-item{
        padding: 10px 0px 10px 0px;
        border-bottom: 1px solid #008000;

        
        a{
            text-decoration: none;
            color: white;
            transition: 0.3s;
            &:hover{
                color: green;
            }
        }
        

        &:hover{
            background-color: rgba(63, 62, 62, 0.08);
        }
        
        i{
            margin-right: 10px;
            margin-left: 3px;
            color: green;
            font-weight: bold;
        }

        
    }
   }
   
    
}

.right{
    // border: 1px solid green;
    height: 100vh;
    .bar{
        color: white;
      background-color: #181d2e;
      font-size: 17px;
      font-family:  Verdana, Geneva, Tahoma, sans-serif;

      i{
        color: green;

      }
      
    }

    

    
}


a{
    color: white;
}

.content{
    height: 91vh;
    overflow-y: scroll;
}

