.reset {
    all: revert;
}
.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     background-color: rgb(231, 230, 229);
} 

.receiptId{
  color: red;
}

.wrapper{
    width: 60vw;
    margin: 0 auto;
    background-color: rgb(226, 224, 221);
}

