
    <p class="text-center fs-5 p-2 text-success">Formulaire Produit</p>
 <div class="form-wrapper p-2">

     <form [formGroup]="productForm" (ngSubmit)="onSubmit()" >
        <input type="number" name="id" formControlName="id" hidden>
        <div class="row mb-2 text-center">
            <label for="" class="col-sm-2 col-form-label form-label ">Libéllé</label>
                    <div class="col-sm-6 ">
                        <input type="text" class="form-control" formControlName="name">
                    </div>
        </div>
        <div class="row  mb-2">
            <label for="" class="col-sm-2 col-form-label form-label ">Prix d`achat</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" formControlName="purchasePrice">
            </div>
        </div>
        
        <div class="row mb-2">
            <label for="catgory" class="col-sm-2 col-form-label form-label ">Catégory</label>
            <div class="col-sm-6">
            <select name="catgory" id="catgory" class="form-select" formControlName="categoryId">
                    <option [value]="category.id" *ngFor="let category of categories">{{category.signature}}</option>
                </select>
            </div>
        </div>

        <div class="row mb-2">
            <label for="supplier" class="col-sm-2 col-form-label form-label ">Fournisseur</label>
            <div class="col-sm-6">
                <select name="supplier" id="supplier" class="form-select" formControlName="supplierId">
                    <option [value]="supplier.id" *ngFor="let supplier of suppliers">{{supplier.name}}</option>
                </select>
            </div>
         </div>

         <div class="row mb-2">
              <p>Ajouter L'image du produit</p>
                <label for="image" >Chosir l'image...</label>
                <p *ngIf="url"><img [src]="url"  height="200" width="300"></p>
                <div class="col-sm-6">
                    <input type="file" (change)="onFileChanged($event)" name="image" id="image" #imageInput class="inputfile" />
                </div>
         </div>
         
         <div class="row mb-5">
            <div class="col-6">

                <label for="floatingTextarea"  class="m-2 form-label" >Description</label>
                <textarea class="form-control" 
                          rows="5" 
                          formControlName="description"
                          placeholder="Quelques informations du produit" 
                          id="floatingTextarea"></textarea>
            </div>
         </div>
         <div class="row text-center">
            <div class="col-1 ">
                <button class="btn btn-success "[disabled]="!(productForm.valid&&selectedFile)" type="submit">Ajouter</button>
            </div>
         </div>
         
     </form>
 </div>

   
