<div class="row p-2 topbar m-0">
    <div class="col-10 pt-2">
       <p>VOTRE PARAPHARMA EN UN  CLIC  /  LIVRAISON GRATUITE SUR FES ( voir conditions)</p>
    </div>
    <div class="col-2 pt-2">
       <p>Téléphone : 06 60 25 98 31</p>
    </div>
 </div>
 <ul class="nav justify-content-center p-3 ">
   <li class="nav-item p-0 m-0 menu-wrapper">
      <a class="nav-link " href="#" ><i  class="bi bi-list fs-4 "></i></a>
   </li>
   <li class="nav-item logo pt-1 fs-5  mt-2">
     <p class="">NOTRE <i  class="bi bi-heart-fill "></i> PARAPHARMA</p>
   </li>
   &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
   <li class="nav-item  mt-2 search">
    
   
 
      <input class="search-bar input" type="text" name="search" id="search" placeholder="chercher...">
      <select class="category-select" name="category" id="category">
        <option value="#">category 1</option>
        <option value="#">category 2</option>
        <option value="#">category 3</option>
        <option value="#">category 4</option>
      </select>
      
      <button class="btn-search"><i class="bi bi-search"></i></button>
   </li>
   &nbsp; &nbsp;&nbsp;
   <li class="nav-item pt-1 fs-5">
      <a routerLink="/login" class="nav-link" href="#"><i class="bi bi-person-fill"></i></a>
   </li>
   <li class="nav-item pt-1 fs-5">
      <a class="nav-link" href="#"><i class="bi bi-suit-heart"></i></a>
   </li>
   <li class="nav-item pt-1 fs-5">
      <a class="nav-link" href="#"><i class="bi bi-bag"></i></a>
   </li>
 </ul>
